@use "../base/colors";
@use "../utils/mixins";
@use "../utils/variables";

.advertising {
    padding: 3rem 0 7rem 0;

    &__title {
        text-align: center;
        font-weight: 700;
        color: colors.$title-color;
    }

    &__subtitle {
        text-align: center;
        font-weight: 500;
        font-size: variables.$font-size-h3;
        line-height: variables.$line-height-h3;
        max-width: 50rem;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 2rem;
    }


    &__list {
        @include mixins.breakpoint($breakpoint: medium){
            max-width: 460px;
            margin: 0 auto;
        }
    }

    &__item {
        display: flex;
        margin-bottom: 3rem;
        background: #F7F5F6;
        padding: 2rem;
        border-radius: 10px;
        align-items: center;

        @include mixins.breakpoint($breakpoint: medium){
            flex-direction: column;
            text-align: center;
            align-items: center;

        }

        &-wrapper-img {
            max-width: 283px;
            border-radius: 10px;
            overflow: hidden;
            display: flex;
            align-items: center;

            @include mixins.breakpoint($breakpoint: medium){
                max-width: 100%;
                width: 100%;
                margin-bottom: 1.5rem;
            }
        }
        &-img {
            width: 100%;
        }
    }

    &__info {
        padding: 0 4rem;
        align-items: center;
        width: calc(100% - (28.3rem + 4rem));

        @include mixins.breakpoint($breakpoint: medium){
            padding: 0;
            width: 100%;
        }

        &-category {
            display: flex;
            margin-bottom: 1.5rem;
            align-items: center;

            @include mixins.breakpoint($breakpoint: medium){
                justify-content: center;
            }
        }

        &-link {
            color: colors.$title-color;
            font-size: variables.$font-size-h4;
            line-height: variables.$line-height-h4;
            font-weight: 500;
            margin-right: 2rem;
        }

        &-title {
            color: colors.$title-color;
            font-weight: 600;
            margin-bottom: 0.8rem;
        }
        &-subtitle {
            display: -webkit-box;
            overflow: hidden;
            max-width: 42rem;
            width: 100%;
            font-weight: 500;
            font-size: variables.$font-size-h4;
            line-height: variables.$line-height-h4;
            margin-bottom: 2rem;
            line-clamp: 2;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }

        &-btn {
            @include mixins.secondary-btn($width:220px, $height:48px);

            @include mixins.breakpoint($breakpoint: medium){
                margin: 0 auto;
            }
        }
    }
}
