@use "../base/colors";
@use "../utils/mixins";
@use "../utils/variables";

.banner {
   &-hero {

      width: 100%;
      position: relative;

      &__wrapper {
         height: 100%;

         @include mixins.breakpoint($breakpoint: medium) {
            display: flex;
            align-items: center;
         }
      }

      &__bg {
         max-width: 1920px;
         margin-left: auto;
         margin-right: auto;

         background: url("../img/Banner.png") 50% 50% no-repeat;
         background-size: contain;
         min-height: 850px;
         position: relative;
         padding: 10.7rem 0;

         @include mixins.breakpoint($breakpoint: xxl) {
             min-height: 600px;
             background-size: cover;
         }

         @include mixins.breakpoint($breakpoint: medium) {
            background-position-x: 70%;
            min-height: auto;

            &::before {
               content: "";
               position: absolute;
               width: 100%;
               top: 0;
               left: 0;
               height: 100%;
               background: rgba(255, 255, 255, 0.5);
            }
         }
      }

      &__info {
         max-width: 100%;
         width: 700px;
         margin-left: 1rem;

         @include mixins.breakpoint($breakpoint: medium) {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
         }
      }

      &__title {
         color: colors.$title-color;
         font-weight: 700;
         font-size: 58px;

         @include mixins.breakpoint($breakpoint: medium) {
            font-weight: 400;
            font-size: 4rem;
         }
      }

      &__text {
         color: colors.$text-color;
         font-size: 18px;
         line-height: variables.$line-height-h3;
         font-weight: 500;
         width: 24rem;

         @include mixins.breakpoint($breakpoint: medium) {
            font-weight: 400;
            font-size: 1.8rem;
         }
      }

      &__btn {
         @include mixins.secondary-btn($width: 219px)
      }
   }

   &__img {
      width: 100%;
      display: block;
      margin: 0 auto;
   }

   &.m-secondary {
      .banner__wrapper {
         width: 100%;
      }
   }
}
