.card {
    display: flex;
    flex-direction: column;
    width: 100%;

    @include breakpoint($breakpoint: medium){
        flex-direction: row;
    }

    @include breakpoint($breakpoint: small){
        flex-direction: column;
    }

    &__list {
        display: flex;
        margin: 0 -1.5rem;
        //justify-content: space-between;
        flex-wrap: wrap;

        @include breakpoint($breakpoint: medium){
            margin: 0;
        }

        &.alternate {
            .card__wrapper-img {
                height: 250px;
                border-radius: 0.8rem;

                &:hover {
                    &:after {
                        content: '';
                        display: block;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        background: rgba(255, 255, 255, 0.1);
                    }
                }
            }
            .card__item {
                margin-top: 1.2rem;
                margin-bottom: 1.2rem;
            }
            .card__img {
                height: 100%;
                position: relative;
            }
            .card__container {
                align-items: flex-start;
            }
            .card__title {
                &:hover {
                    a {
                        text-decoration: underline;
                    }
                }
            }
            .card__subtitle {
                color: $primary-gray;
                margin-bottom: 0;
            }
        }
    }

    &__item {
        position: relative;
        border-radius: 10px;
        margin: 2rem 1.5rem;
        width: calc(33.33% - 3rem);
        overflow: hidden;

        @include breakpoint($breakpoint: medium){
            margin: 0;
            margin: 0 auto;
            width: 100%;
            margin-bottom: 3rem;
            padding: 1rem;
        }

        &.m-secondary {
            border: 1px solid $primary-color;

            .card__img {
                border-radius: 0;
            }

            .card__wrapper-img {
                border-radius: 10px 10px 0 0;

                @include breakpoint($breakpoint: medium){
                    max-width: 230px;
                    align-self: flex-start;
                    border-radius: 10px;
                }
            }

            .card__info {
                padding: 1rem;
            }
        }
    }

    &__wrapper-img {
        overflow: hidden;
        border-radius: 10px;
        margin:0 0 1.5rem 0;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        img {
            height: 220px;
        }

        .features {
            padding: 0.8rem;
            position: absolute;
            left: 0;
            width: 100%;
            display: flex;
            justify-content: flex-start;
            gap: 1rem;

            .feature {
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $light-gray;
                font-weight: 600;

                &.rooms {
                    gap: 5px;
                    img {
                        height: 23px;
                    }
                }

                sup {
                    font-size: 0.8rem;
                }
            }

            &.layout-top {
                top: 0;
                justify-content: space-between;
                .feature {
                    height: 3.8rem;
                    border-radius: .8rem;
                    font-size: 1.4rem;
                }
            }
            &.layout-bottom {
                bottom: 0;
                .feature {
                    height: 2.8rem;
                    border-radius: .6rem;
                    font-size: 1.2rem;
                }
            }
        }

        @include breakpoint($breakpoint: medium){
            margin: 0 2rem 0 0;
        }

        @include breakpoint($breakpoint: small){
            margin: 0 auto 1.5rem;
        }
    }

    &__img {
        width: 100%;
    }

    &__title {
        font-weight: 600;
        color: $text-color;
        font-size: $font-size-h4;
        line-height: $line-height-h4;

        @include breakpoint($breakpoint: medium){
            margin-bottom: 2rem;
        }
    }

    &__subtitle {
        color: $text-color;
        font-weight: 400;
        font-size: $font-size-h5;
        line-height: $line-height-h5;
        margin-bottom: 2.4rem;
    }

    &__btn {
        @include primary-btn ($width:13rem, $height:3.7rem, $color:$title-color);

        transition: all 0.4s;

        @include breakpoint($breakpoint: medium){
            margin-top: auto;
        }

        @include breakpoint($breakpoint: small){
            margin: 0 auto;
        }

        &:hover {
            background: $primary-color;
            color: #fff;
        }
    }

    &__container {
        display: flex;
        flex-direction: column;

        @include breakpoint($breakpoint: small){
            align-items: center;
        }
    }

    &__date {
        display: flex;
        padding-bottom: 1rem;
        &-text {
            color: $text-color;
            font-weight: 400;
        }
        &-icon {
            width: 15px;
            height: 15px;
            margin-right: 1rem;
            background: url("../img/icons/clock.svg") 50% 50% no-repeat;
        }
    }
}
