@use "../base/colors";
@use "../utils/mixins";

.menu {
    &__list {
        display: flex;
        margin-left: 1rem;
        @include mixins.breakpoint($breakpoint: el){
            background: colors.$primary-color;
            position: fixed;
            display: block;
            top: 0;
            right: 0;
            z-index: 3;
            height: 100%;
            padding: 8rem 4rem 4rem;
            transform: translateX(100%);
            transition: transform 1s;
        }
        &.m-active {
            transform: translateX(0);
        }
    }

    &__item {
        display: flex;
        align-items: center;
        margin-right: 35px;

        &:last-child {
            .menu__link {
                border: 2px solid colors.$title-color;
                border-radius: 12px;
                padding: .5em .75em;
            }
        }

        &.m-active {
            &:not(:last-child) {
                .menu__link {
                    &:before {
                        opacity: 1;
                    }
                }
            }
        }
    }

    &__link {
        color: colors.$title-color;
        font-size: 1.3rem;
        font-weight: 600;
        line-height: 1.9rem;
        position: relative;
        padding-top: 0.2rem;

        @include mixins.breakpoint($breakpoint: el){
            color: #fff;
            margin-bottom: 1rem;
        }

        &:before {
            content: "";
            position: absolute;
            bottom: -0.5rem;
            opacity: 0;
            background: colors.$primary-color;
            height: 2px;
            width: 100%;
        }
    }
}
