@use "../base/colors";
@use "../utils/mixins";
@use "../utils/variables";

.nav {
    &__list {
        display: flex;

        @include mixins.breakpoint($breakpoint: medium){
            flex-direction: column;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        margin: 0;
    }

    &__link {
        display: flex;
        font-size: variables.$font-size-h6;
        line-height: variables.$line-height-h6;
        font-weight: 600;
        padding: 0.8rem 1rem 0.8rem 0.6rem;
        max-width: 22.7rem;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        border: none;
        border-radius: 1rem;

        @include mixins.breakpoint($breakpoint: medium){
            justify-content: flex-start;
            flex-direction: column;
            font-size: 8px;
            padding: 0.4rem;
        }

        &-img {
            margin-right: 10px;
            @include mixins.breakpoint($breakpoint: medium){
                margin-right: 0;
            }
            svg {
                @include mixins.breakpoint($breakpoint: xl){
                    width: 5rem;
                }
            }
        }

        &.link_1 {
            color: #000;
        }

        &.link_2 {
            color: colors.$nav-link;
        }

        &.link_3 {
            color: colors.$nav-link-primary;
        }

        &.m-active {
            background: colors.$primary-color;
            color: #fff;
        }
    }
}
