@use "../base/colors";
@use "../utils/variables";

.pagination {
    display: flex;
    padding-bottom: 13rem;


    li {
        &.active > * {
            background: colors.$primary-color;
            color: #fff;
            border: none;
        }

        > * {
            display: flex;
            margin-right: 0.5rem;
            width: 4rem;
            height: 4rem;
            background: none;
            color: colors.$title-color;
            font-size: variables.$font-size-h5;
            line-height: variables.$line-height-h5;
            font-weight: 500;
            border-radius: 10px;
            align-items: center;
            justify-content: center;
            border: 1px solid colors.$primary-color;
        }
    }
}
