@use "../base/colors";
@use "../utils/mixins";
@use "../utils/variables";

.product {
    display: flex;
    padding-top: 3rem;

    @include mixins.breakpoint($breakpoint: medium){
        flex-direction: column;
    }
    &__header {
        margin-bottom: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        padding-right: 100px;

        &-title {
            font-weight: 700;
            margin-bottom: 0;
        }

        &-category {
            position: absolute;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: 18.5rem;
            height: 3rem;
            width: 100%;
            font-weight: 600;
            color: #fff;
            background: #66676B;
            border-radius: 2px;
        }
    }

    &__content {
        margin-right: 20px;
        width: calc(100% - 303px);

        @include mixins.breakpoint($breakpoint: medium){
            order: 1;
            width: 100%;
        }
    }

    &__title {
        font-weight: 600;
        font-size: variables.$font-size-h3-large;
        line-height: variables.$line-height-h3-large;
        margin-bottom: 1.5rem;
        color: colors.$text-color;
    }

    &__slider {
        display: flex;
        max-height: 400px;
        width: 100%;
        margin-bottom: 2rem;
    }

    &__slide {
        border-radius: 10px;
        overflow: hidden;
    }

    &__info {
        margin-bottom: 3rem;
    }

    &__details{
        @include mixins.breakpoint($breakpoint: medium){
            order: 2;
        }

        &-list {
            margin-bottom: 1rem;

        }

        &-container{
            padding: 1.5rem;
            background: #F7F5F6;
            border-radius: 10px;
            width: 283px;
            margin-bottom: 3rem;
            @include mixins.breakpoint($breakpoint: medium){
                width: 100%;
            }
        }

        &-map {
            display: flex;
            margin: 0 auto;
            border-radius: 10px;
            border: 1px solid colors.$primary-color;
            overflow: hidden;
            margin-bottom: 2rem;
            @include mixins.breakpoint($breakpoint: medium){
                height: 28rem;
            }
        }

        &-item {
            display: flex;
            align-items: center;
            border-top: 1px solid #F3E5DB;
            padding: 1.5rem 0;

            &:last-child {
                border-bottom: 1px solid #F3E5DB;
            }
        }

        &-price {
            font-weight: bold;
            font-size: 20px;
            margin-top: 30px;
        }

        &-link {
            display: flex;
            align-items: center;
        }

        &-icon {
            margin-right: 1rem;
            max-height: 16px;
        }

        &-info {
            font-weight: 400;
        }

        &-btn {
            @include mixins.secondary-btn($width:25.5rem, $height:4.5rem);
            font-weight: 700;
            margin: 0 auto;
            margin-bottom: 1.5rem;
            display: flex;
            justify-content: center;

            &.m-secondary {
                background: colors.$secondary-color;
            }
        }

        &-video {
            padding: 1.5rem;
            background: #F7F5F6;
            border-radius: 10px;
            justify-content: center;
            display: flex;
            flex-direction: column;
            margin-bottom: 3rem;
        }
    }

    &__video {
        width: 100%;
        border: 1px solid colors.$primary-color;
        border-radius: 10px;
        overflow: hidden;

        &__wrapper {
            iframe {
                width: 100% !important;
                height: 200px;
            }
        }
    }

    &-plan {
        margin-bottom: 6rem;

        &-wrapper-img {
            max-height: 290px;
            display: flex;
            justify-content: center;
            border: 1px solid colors.$primary-color;
            border-radius: 10px;
            overflow: hidden;
            padding: 1.5rem 5rem;
        }

        &-img {
            width: 100%;
            object-fit: contain;
        }
    }
}
