/* Slider */

.slick-slider {
    position: relative;
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}
.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    [dir="rtl"] & {
        float: right;
    }
    img {
        display: block;
        width: 100%;
    }
    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}
.slick-arrow.slick-hidden {
    display: none;
}



/*user setting for cat-slider*/

.cat-slider button{
    width: 29px;
    height:50px;
    position: absolute;
    top:43%;
    transform:translateY(-50%);
    z-index: 100;
    border:none;
    background: none;
    cursor: pointer;
}
// MY STYLES
 .slick-prev{
    left:-1px;
    background: url(/img/icons/arrow-prev.svg) 50% 50%;
}

.slick-next{
    left:auto;
    right:0;
    background: url(/img/icons/arrow-next.svg) 50% 50%;
}

.slick-arrow {
    position: absolute;
    width: 44px;
    height: 51px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    border: none;
    background-size: cover;
    padding: 0;
}

.slick-dots {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    bottom: 10px;

    button {
        display: none;
    }

    li {
        border-radius: 50%;
        width: 10px;
        height: 10px;
        border: #E5E5E5 solid 1px;
        background: #E5E5E5;
        margin: 0 4px;
        cursor: pointer;

        &.slick-active {
            background: $primary-color;
        }
    }
}

@media screen and (max-width: 360px){
    .cat-slider .slick-prev{
        left:5px;
    }

    .cat-slider .slick-next{
        right: 5px;
    }

}
